@import '../styles.scss';

.layout {
  display: flex;
  min-height: 100vh;
}

app-sidebar {
  width: $sidebar-width;
  flex: 0 0 $sidebar-width;
}

.right_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  width: 100%;
  flex: 0 0 auto;
}

.content {
  flex: 1;
  min-height: 0;
}